# Git
.git
.gitignore

# Environment
.env

# Build artifacts
tmp
dist
build
*.exe
*.out

# Logs
*.log

# Tests
tests
testdata

# Node (if any)
node_modules

# IDE
.vscode

# CI
.github

# AWS local
.aws

# Archives
*.zip
*.tar
*.gz
