name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd webtest
            git pull
            docker build -t virustotal-scanner .
            docker stop virustotal-scanner || true
            docker rm virustotal-scanner || true
            docker run -d -p 80:8080 --env-file .env --restart unless-stopped --name virustotal-scanner virustotal-scanner
